@model MVCForum.Website.ViewModels.ArticlesPreviewViewModel
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="@Model.Articles.ElementAt(0).Image" class="img-responsive grid-image">
                <h2>@Model.Articles.ElementAt(0).Header</h2>
                <p>
                 @Model.Articles.ElementAt(0).Description
                </p>
       </div>
            <div class="col-md-3">
                <img src="@Model.Articles.ElementAt(1).Image" class="img-responsive grid-image">
                <h2>@Model.Articles.ElementAt(1).Header</h2>
                <p>
                    @Model.Articles.ElementAt(1).Description
                </p>
            </div>
            <div class="col-md-3">
                <img src="@Model.Articles.ElementAt(2).Image" class="img-responsive grid-image">
                <h2>@Model.Articles.ElementAt(2).Header</h2>
                <p>
                    @Model.Articles.ElementAt(2).Description
                </p>
            </div>
            <div class="col-md-3">
                <img src="@Model.Articles.ElementAt(3).Image" class="img-responsive grid-image">
                <h2>@Model.Articles.ElementAt(3).Header</h2>
                <p>
                    @Model.Articles.ElementAt(3).Description
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="@Model.Articles.ElementAt(0).Image" class="img-responsive grid-image">
                <h2>@Model.Articles.ElementAt(0).Header</h2>
                <p>
                    @Model.Articles.ElementAt(0).Description
                </p>
            </div>
            <div class="col-md-3">
                <img src="@Model.Articles.ElementAt(1).Image" class="img-responsive grid-image">
                <h2>@Model.Articles.ElementAt(1).Header</h2>
                <p>
                    @Model.Articles.ElementAt(1).Description
                </p>
            </div>
            <div class="col-md-3">
                <img src="@Model.Articles.ElementAt(2).Image" class="img-responsive grid-image">
                <h2>@Model.Articles.ElementAt(2).Header</h2>
                <p>
                    @Model.Articles.ElementAt(2).Description
                </p>
            </div>
            <div class="col-md-3">
                <img src="@Model.Articles.ElementAt(3).Image" class="img-responsive grid-image">
                <h2>@Model.Articles.ElementAt(3).Header</h2>
                <p>
                    @Model.Articles.ElementAt(3).Description
                </p>
            </div>
        </div>
    </div>
</div>