@model IEnumerable <MVCForum.Website.ViewModels.ArticlesPreviewViewModel>
<link href="~/Content/Tweak/_Article_Grid4x2.css" rel="stylesheet" />
@foreach (var item in Model)
{
<div class="section">
    <div class="container">
        <h1 class="shentox">@item.Tag</h1>
        @*<h1>FOR EACH TEST</h1>*@
        <div class="row">
            @foreach (var subitem in item.Articles)
            {
                <div class="col-md-3">
                    <a href="@Url.Action("Show", "Article", new { slug = @subitem.Slug })"> <img src="@subitem.Image" class="img-responsive grid-image"></a>
                    <h2>@subitem.Header</h2>
                    <p>
                        @subitem.Description
                    </p>
                </div>
            }
        </div>
    </div>
</div>
}