@model MVCForum.Domain.DomainModel.CMS.Article

@{
    ViewBag.Title = "Nyhed";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    string str = Model.Body;
}




<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div style="">
            <h1>@Html.DisplayFor(model => model.Header)</h1>
            <p class="shentox"> Skrevet den: @Html.DisplayFor(model => model.CreateDate), af: @Html.DisplayFor(model => model.User.UserName) </p>



            @Html.Raw(str)

            <br/>
            @Html.DisplayFor(model => model.Comments.FirstOrDefault().CommentBody)
<p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
   
        
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>



