@model MVCForum.Domain.DomainModel.CMS.Article

@{
    ViewBag.Title = Model.Header;
    ViewBag.MetaDesc = Model.Description;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var timeAgo = DateTime.Now - Model.PublishDate;
}


    <div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div style="word-break:break-word">
            <h1>@Html.DisplayFor(model => model.Header)</h1>
            <p class="shentox">
                Skrevet for
                @if (timeAgo.Days > 0) {<span>@timeAgo.Days dage siden</span>}
                else {<span> @timeAgo.Hours timer siden</span>}, af: @Html.DisplayFor(model => model.User.UserName)
        </p>
            <div class="fb-share-button" data-href="@Request.Url.AbsoluteUri" data-width="100px" data-type="box_count"></div>

     

            @Html.Raw(Model.Body)

                    <br />


              
            @Html.Action("_Comments", new { article = Model.Id })

                        @if (User.Identity.IsAuthenticated)
                        { Html.RenderAction("_Comment", Model); }

                    </div>
    
                </div>
                <div class="col-md-3">

                </div>
            </div>
<br />
<br />
<br />
@Html.Action("_LatestArticles", "Article")



