@model MVCForum.Domain.DomainModel.CMS.Article

@{
    ViewBag.Title = Model.Header;
    ViewBag.MetaDesc = Model.Description;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var timeAgo = DateTime.Now - Model.PublishDate;
}




<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div style="word-break:break-word">
            <h1>@Html.DisplayFor(model => model.Header)</h1>
            <p class="shentox">
                Skrevet for
                @if (timeAgo.Days > 0) {<span>@timeAgo.Days dage siden</span>}
                else {<span> @timeAgo.Hours timer siden</span>}, af: @Html.DisplayFor(model => model.User.UserName)
        </p>




            @Html.Raw(Model.Body)

                    <br />


                    @{ Html.RenderPartial("_Comments", Model.Comments);  }


                        @if (User.Identity.IsAuthenticated)
                        { Html.RenderAction("_Comment", Model); }

                    </div>
    
                </div>
                <div class="col-md-3">

                </div>
            </div>
<br />
<br />
<br />
@Html.Action("_LatestArticles", "Article")



