@model MVCForum.Website.ViewModels.ArticleShowViewModel

@{
    ViewBag.Title = Model.Header;
    ViewBag.MetaDesc = Model.Description;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Header{

    <link href="~/Content/Tweak/Article.css" rel="stylesheet" />
    <link href="~/Content/Tweak/SocialMedia/socialIconsFont/creativeverse_social-ie7.css" rel="stylesheet" />
    <link href="~/Content/Tweak/SocialMedia/socialIconsFont/creativeverse_social-ie7-codes.css" rel="stylesheet" />
    <link href="~/Content/Tweak/SocialMedia/socialIconsFont/creativeverse_social-codes.css" rel="stylesheet" />
    <link href="~/Content/Tweak/SocialMedia/socialIconsFont/creativeverse_social-embedded.css" rel="stylesheet" />
    <link href="~/Content/Tweak/SocialMedia/animate.css" rel="stylesheet" />

}
<div id="fb-root"></div>
<SCRIPT language="JavaScript">
    // Kan dette ikke flyttes til section Footer?

    function newwindow() {
        window.open('http://facebook.com/sharer.php?u=@Request.Url.AbsoluteUri', 'jav', 'width=660,height=300,resizable=no');
    }

    function newwindow2() {
        window.open('https://plus.google.com/share?url=@Request.Url.AbsoluteUri', 'jav', 'width=660,height=450,resizable=no');
    }

    function newwindow3() {
        window.open('https://twitter.com/share?url=@Request.Url.AbsoluteUri', 'jav', 'width=660,height=450,resizable=no');
    }

</SCRIPT>


<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title"> @Html.DisplayFor(model => model.Header) </h2>
                <p class="blog-post-meta">For @Html.DisplayFor(model => model.PublishDate) af <a href="@Model.User.NiceUrl">@Model.User.UserName</a> i @Html.ActionLink(Model.CategoryName, "Category", new { @slug = Model.CategorySlug })</p>

                @Html.Raw(Model.Body)
            
                <div class="article-tags">
                    <p>
                        Tags:
                        @foreach (var tag in Model.Tags)
                        {
                            @Html.ActionLink(" #" + tag, "Index", "ArticleTag", new { tag }, new { @class = "Tag" })
                        }
                    </p>
                </div>

                <ul class="cv-social-media">
                    <a class="animated fadeIn" href="javascript:newwindow()"><li id="facebook" class="icon-facebook facebook"></li></a>
                    <a class="animated fadeIn" href="javascript:newwindow2()"><li id="gplus" class="icon-gplus"></li></a>
                    <a class="animated fadeIn" href="javascript:newwindow3()"><li id="twitter" class="icon-twitter"></li></a>
                </ul>
                <hr />
                <div class="article-comments">
                    <h1>Kommentarer</h1>
                    @Html.Action("_Comments", new { article = Model.Id })
                    <br />
                    @if (User.Identity.IsAuthenticated)
                    {
                        Html.RenderAction("_Comment", Model);
                    }
                </div>
            </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
            <div class="sidebar-module">
                <h4>Populære</h4>
                <ol class="list-unstyled">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>Seneste</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->
    </div><!-- /.row -->
</div><!-- /.container -->


@Html.Action("_LatestArticles", "Article")



