@model MVCForum.Website.ViewModels.ArticleShowViewModel
    
@{
    ViewBag.Title = Model.Header;
    ViewBag.MetaDesc = Model.Description;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Header{

    <link href="~/Content/Tweak/Article.css" rel="stylesheet" />
    <link href="~/Content/Tweak/SocialMedia/socialIconsFont/creativeverse_social-ie7.css" rel="stylesheet" />
    <link href="~/Content/Tweak/SocialMedia/socialIconsFont/creativeverse_social-ie7-codes.css" rel="stylesheet" />
    <link href="~/Content/Tweak/SocialMedia/socialIconsFont/creativeverse_social-codes.css" rel="stylesheet" />
    <link href="~/Content/Tweak/SocialMedia/socialIconsFont/creativeverse_social-embedded.css" rel="stylesheet" />
    <link href="~/Content/Tweak/SocialMedia/animate.css" rel="stylesheet" />

}

<div id="fb-root"></div>
@*<script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>*@
<SCRIPT language="JavaScript">
    // Kan dette ikke flyttes til section Footer?

    function newwindow() {
        window.open('http://facebook.com/sharer.php?u=@Request.Url.AbsoluteUri', 'jav', 'width=660,height=300,resizable=no');
    }

    function newwindow2() {
        window.open('https://plus.google.com/share?url=@Request.Url.AbsoluteUri', 'jav', 'width=660,height=450,resizable=no');
    }

    function newwindow3() {
        window.open('https://twitter.com/share?url=@Request.Url.AbsoluteUri', 'jav', 'width=660,height=450,resizable=no');
    }

</SCRIPT>
<div class="row">
    <div class="col-xs-4">

    </div>
    <div class="col-md-4 col-xs-4">
        <div style="word-wrap: break-word">

            <h1 class="description">@Html.DisplayFor(model => model.Header)</h1>
            <p>
                Skrevet for @Html.DisplayFor(model => model.PublishDate)
                af <a href="@Model.User.NiceUrl">@Model.User.UserName</a>
                i @Html.ActionLink(Model.CategoryName, "Category", new { @slug = Model.CategorySlug }) 
            </p>
            <img src="@Model.Image" class="img-responsive">
            <br />
            @Html.Raw(Model.Body)
            <br />
            
            <ul class="cv-social-media">
                <a class="animated fadeIn" href="javascript:newwindow()"><li id="facebook" class="icon-facebook facebook"></li></a>
                <a class="animated fadeIn" href="javascript:newwindow2()"><li id="gplus" class="icon-gplus"></li></a>
                <a class="animated fadeIn" href="javascript:newwindow3()"><li id="twitter" class="icon-twitter"></li></a>
            </ul>
            <br />
            Tags:
            @foreach (var tag in Model.Tags)
            {
               @Html.ActionLink(" #" + tag, "Index","ArticleTag",new { tag },new { @class = "Tag" });
            }
            
            
            <br/><br/><hr/>
            <h1>Kommentarer</h1>
            @Html.Action("_Comments", new { article = Model.Id })
            <br/>
            @if (User.Identity.IsAuthenticated)
            { Html.RenderAction("_Comment", Model); }

        </div>

    </div>
    <div class="col-xs-4">

    </div>
</div>
<br />
<br />
<br />
@Html.Action("_LatestArticles", "Article")



