@model MVCForum.Website.ViewModels.AddArticleViewModel
@{
    ViewBag.Title = "Opret artikel - Tweak CMS";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@section css
{
    <link rel="stylesheet" type="text/css" href="~/Content/tinymce.css" />
    <link href="~/Content/Tweak/FlipSwitch.css" rel="stylesheet" />
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />

}
@if (!Context.IsMobileDevice())
{

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Opret nyhed</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    @Html.Partial("~/Views/Shared/customeditors/tinymceeditorCMS.cshtml")
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Opret en nyhed</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            @using (Html.BeginForm("NewArticle", "CMS", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    @* Header *@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Header, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Header, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Header, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @* Description *@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @* Image *@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Image, "Artikel billede URL", new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">

                                            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @* Category *@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Category, new {@class = "control-label col-md-2"})
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(m => m.Category, Model.AvailableCategories, new {style = "width:100%"})
                                        </div>
                                    </div>
                                    @* Tags *@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SelectedTags, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.ListBoxFor(m => m.SelectedTags, Model.AvailableTags, new { style = "width:100%" })
                                        </div>
                                    </div>
                                    @* Body *@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Body, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                                            @Html.TextAreaFor(model => model.Body, new { @class = "form-control mceEditor", id = "my_editor" })
                                        </div>
                                    </div>
                                    @* IsPublished *@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.IsPublished, "Status", new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">

                                            <div class="onoffswitch">
                                                @Html.CheckBoxFor(model => model.IsPublished, new { @class = "form-control onoffswitch-checkbox", id = "onoffswitch" })
                                                <label class="onoffswitch-label" for="onoffswitch">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.IsPublished, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @* Button *@
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Opret" class="btn btn-success" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-lg-6">
                            <label for="UploadImg">Upload artikel billede</label>
                                <input  name="file" type="file" id="UploadImg">
                           <br />
                            <label>Nuværende artikel billede.</label>
                            <img id="imgPreview" src="@Model.Image" class="img-responsive grid-image" />
                            <br />
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
    @section scripts
{
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/select2.min.js"></script>
        <script type="text/javascript">
        $('#SelectedTags')
            .select2({
                tags: true,
                tokenSeparators: [','],
                placeholder: "Tilføj tags her"
            });

        $('#Category').select2();

        $("#Image").keyup(function () {
            $('#imgPreview').attr('src', $('#Image').val());
        })

        $("#UploadImg").change(function () {
            var data = new FormData();
            var files = $("#UploadImg").get(0).files;
            if (files.length > 0) {
                data.append("MyImages", files[0]);
            }

            $.ajax({
                url: "/CMS/UploadFile",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    //code after success
                    $("#Image").val('/Images/' +response);
                    $("#imgPreview").attr('src', '/Images/' + response);
                },
                error: function (er) {
                    alert(er);
                }

            });
        });
        </script>
    }
}
else
{
<h4>Ikke muligt på mobil</h4>
}