@model MVCForum.Website.ViewModels.ArticleFrontpageViewModel
    
<div class="col-md-3">
    <a href="@Url.Action("Show", "Article", new { slug = Model.Slug })"> <img src="@Model.Image" class="img-responsive grid-image"></a>
    <span style="font-weight: 800; font-size: 130%">@Model.Header</span>
    <p style="color: grey">
        Af @Model.UserName - @Html.DisplayFor(model => model.PublishDate)
    </p>
</div>

