<div class="blackbar hidden-xs hidden-sm">
    <ul>
        <li>
            <a href="@Url.Action("Search", "Article")"><i class="fa fa-search"></i></a>
        </li>
        <li>
            <a href="https://www.facebook.com/Tweak.dk/" target="_blank"><i class="fa fa-facebook-f"></i></a>
        </li>
        <li>
            <a href="https://twitter.com/tweakdk" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
            <a href="https://plus.google.com/+TweakDk" target="_blank"><i class="fa fa-google-plus"></i></a>
        </li>
        <li>
            <a href="@Url.Action("LatestRss", "Article")"><i class="fa fa-rss"></i></a>
        </li>

        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
        <li>@Html.ActionLink("Om", "About", "Home")</li>
        <li>@Html.ActionLink("Team", "Team", "Home")</li>
    </ul>
</div>