@model  IEnumerable<MVCForum.Domain.DomainModel.CMS.ArticleComment>

@if (Model.Any())
{
<link href="~/Content/Tweak/_Comments.css" rel="stylesheet" />

<div class="comments-container">
    <h1 class="description">Kommentarer</h1>



    <ul id="comments-list" class="comments-list">
        @foreach (var comment in Model)
        {

            <li>
                @if (comment.InReplyTo == null && comment.IsDeleted != true)
                {
                    <div class="comment-main-level">
                        <!-- Avatar -->
                        <div class="comment-avatar">
                            <img src="@comment.User.MemberImage(SiteConstants.Instance.GravatarTopicSize)" alt="">
                        </div>
                        <!-- Contenedor del Comentario -->
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name "><a href="">@comment.User.UserName</a></h6>
                                @Html.Hidden(comment.Id.ToString())
                                <span>
                                    @{var timeAgo = DateTime.Now - comment.DateCreated; }
                                  @if (timeAgo.Days > 0)
                                  {<span>@timeAgo.Days dage siden</span>}
                                  else {<span> @timeAgo.Hours timer siden</span>}
                                    <i onclick="return reply('@comment.User.UserName','@comment.Id')" class="fa fa-reply"></i>
                                    @if (comment.User.UserName == User.Identity.Name || User.IsInRole(AppConstants.AdminRoleName))
                                    {      <a href="@Url.Action("_CommentsDelete", "Article", new { @commentId = comment.Id, @ArticleId = comment.Article.Id})" onclick = "return confirm('Er du sikker?');" ><i class="fa fa-trash"></i></a>
                                    }
                                    @if (comment.User.UserName == User.Identity.Name)
                                    { <a href="@Url.Action("CommentEdit", "Article", new { @commentId = comment.Id})" onclick = "return confirm('Er du sikker?');" ><i class="fa fa-pencil"></i></a>
                                    }

                                </span>


                            </div>
                            <div class="comment-content">

                                @Html.Raw(comment.CommentBody)

                            </div>
                        </div>
                    </div>
                }
                <!-- Respuestas de los comentarios -->
                @foreach (var reply in Model.Where(x => x.InReplyTo == comment.Id && x.IsDeleted != true && comment.IsDeleted != true))
                {
                    <ul class="comments-list reply-list">
                        <li>
                            <!-- Avatar -->
                            <div class="comment-avatar">
                                <img src="@reply.User.MemberImage(SiteConstants.Instance.GravatarTopicSize)" alt="">
                            </div>
                            <!-- Contenedor del Comentario -->
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name"><a href="">@reply.User.UserName</a></h6>
                                    <span>
                                        @{var timeAgo = DateTime.Now - comment.DateCreated; }
                                        @if (timeAgo.Days > 0)
                                        {<span>@timeAgo.Days dage siden</span>}
                                        else {<span> @timeAgo.Hours timer siden</span>}
                                        @if (reply.User.UserName == User.Identity.Name || User.IsInRole(AppConstants.AdminRoleName))
                                        {      <a href="@Url.Action("_CommentsDelete", "Article", new { @commentId = reply.Id, @ArticleId = comment.Article.Id}) " onclick = "return confirm('Er du sikker?');" ><i class="fa fa-trash"></i></a>
                                        }
                                        @if (reply.User.UserName == User.Identity.Name)
                                        { <a href="@Url.Action("CommentEdit", "Article", new { @commentId = reply.Id}) "onclick = "return confirm('Er du sikker?');" ><i class="fa fa-pencil"></i></a>
                                        }
                                    </span>
                                </div>
                                <div class="comment-content">

                                    @Html.Raw(reply.CommentBody)
                                </div>
                            </div>
                        </li>


                    </ul>
                }


            </li>
        }

    </ul>

</div>
<script type="text/javascript">
        function reply(name, id)
        {
            
            document.getElementById('InReplyTo').value = id;
            document.getElementById('InReplyToName').innerHTML = "svar til: " + name;

        };
</script>
}
else {

    <h1>Der er endnu ikke nogen kommentarer til dette indlæg.</h1>
}