@model  IEnumerable<MVCForum.Domain.DomainModel.CMS.ArticleComment>
<link href="~/Content/Tweak/_Comments.css" rel="stylesheet" />

<div class="comments-container">
    <h1>Kommentarer</h1>



    <ul id="comments-list" class="comments-list">
        @foreach (var comment in Model)
        {
            <li>
                <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar">
                        <img src="@comment.User.MemberImage(SiteConstants.Instance.GravatarTopicSize)" alt="">
                    </div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name "><a href="">@comment.User.UserName</a></h6>
                            <span>
                                skrevet den: @comment.DateCreated
                            </span>
                                <a href=""><i class="fa fa-reply"></i></a>
                                <i class="fa fa-heart"></i>
                            
                        </div>
                        <div class="comment-content">
                           @comment.CommentBody
                           
                        </div>
                    </div>
                </div>
                <!-- Respuestas de los comentarios -->
                @foreach (var reply in Model.Where(x => x.InReplyTo == comment.Id))
                {
                    <ul class="comments-list reply-list">
                        <li>
                            <!-- Avatar -->
                            <div class="comment-avatar">
                                <img src="@reply.User.MemberImage(SiteConstants.Instance.GravatarTopicSize)" alt="">
                            </div>
                            <!-- Contenedor del Comentario -->
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name"><a href="">@reply.User.UserName</a></h6>
                                    <span>skrevet den: @reply.DateCreated</span>
                                    <i class="fa fa-reply"></i>
                                </div>
                                <div class="comment-content">
                                    @reply.CommentBody
                                </div>
                            </div>
                        </li>


                    </ul>
                }

 
            </li>
        }


        <li>
            <div class="comment-main-level">
                <!-- Avatar -->
                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt="">
                </div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena Rojero</a></h6>
                        <span>hace 10 minutos</span>
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


@foreach (var item in Model)
{
    <p>@item.CommentBody</p>
}